Django>=5.2
djangorestframework
djangorestframework-simplejwt
Pillow               # for image uploads
django-cors-headers  # for enabling CORS
python-magic         # optional, for MIME type detection
gunicorn
dj-database-url
whitenoise
python-decouple
cryptography>=41.0.0  # or just `cryptography` to always pull the latest
django-allauth
social-auth-app-django
